body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-color: $gray-100;
}

#app {
  display: flex;
  flex-wrap: wrap;
  background-image: $app-background;
  .app-container {
    background-color: rgba( 255, 255, 255, $app-container-opacity );
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 20px 0 0 20px;
    width: $app-container-width;
    height: 100vh;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-top-bar {
    height: $app-top-bar;
  }
  .app-content-container {
    height: $app-content-container-height;
    width: 100%;
  }
  .btn {
    color: $white;
  }
  .fit-cover {
    object-fit: cover;
  }
}
