.table {
  border-collapse: separate;
  border-spacing:0 10px;
  thead {
    th {
      border: 1px solid $gray-200;
      border-width: 1px 0;
    }
  }
  tbody {
    tr {
      td {
        background-color: rgba($secondary, 0.1);
        border: none;
        vertical-align: middle;
        //Text truncate
        //max-width: 200px;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
      }
      td:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      td:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      &:hover {
        td {
          background-color: rgba($secondary, .2);
        }
      }
    }
  }
}

.b-table-sticky-header {
  flex: 1;
  max-height: initial;
  display: flex;
  flex-direction: column;
}