.side-bar-menu {
  height: 100%;
  width: $app-sidebar-width;
  background: $sidebar-background;
  border-radius: $sidebar-radius;
  padding-top: 20px;
  .side-bar-menu--item {
    background-color: transparent;
    border: none;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: $sidebar-item-color;
      .side-bar-menu-item--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .side-bar-menu-item--text {
        text-align: center;
        text-transform: capitalize;
      }
    }
    &:hover, &.active {
      a {
        text-decoration: none;
        .side-bar-menu-item--icon {
          background-color: $sidebar-hover-bg;
          color: $sidebar-hover-color;
        }
        .side-bar-menu-item--text {
          color: $sidebar-hover-color;
          text-decoration: none;
        }
      }
    }
    &.logo {
      margin-bottom: 50px;
      img{
        width: 50px;
      }
    }
  }
}