.well {
  display: flex;
  flex-direction: column;
  padding: $well-default-padding 0;
  width: 100%;
  .well-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 20px 30px -30px rgba($gray-800, 0.3);
    padding: $well-default-padding;
  }
  .well-header {
    width: 100%;
    color: $gray-800;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
