.data-table {
  &.well .well-content {
    height: 100px;
  }
  .data-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      font-size: 20px;
    }
  }
  .data-table-actions {
    display: flex;
    .data-table-action {
      width: 36px;
      height: 36px;
      padding: 10px;
      background-color: $secondary;
      border-radius: 50%;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
    }
  }
  .b-table-empty-row td {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}